# Common issues with Data
- Reading files
- Inconsistent column names
- Missing values
- Different Data types
- Duplicate rows
- other

# Reading Files

In [6]:
# UTF encoding
import pandas as pd
#source_file_url = "https://raw.....csv"

#df = pd.read_csv(source_file_url)
# if we just load the data as is, we get the following error:
# 'utf-8' codec can't decode byte 0xff in position 7: invalid start byte

# lets encode the file

In [11]:
df1 = pd.read_csv("unclean_data.csv", encoding="latin1")

In [12]:
# You can also open the file in an editor and do a save as with encoding utf8 
df1.head()

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar?ÿ,723,178.0,10,855,1000,760505847,886204.0,4834.0,NaN,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End?ÿ,302,NaN,563,1000,40000,309404152,471220.0,48350.0,NaN,1238,300000000,2007,5000.0,7.1,NaN
2,Spectre?ÿ,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
3,The Dark Knight Rises?ÿ,813,NaN,22000,23000,27000,448130642,1144337.0,106759.0,NaN,2701,250000000,2012,23000.0,8.5,NaN
4,John Carter?ÿ,462,132.0,"""475""",530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,NaN